transient
projectile-bookmarks.eld
.emacs.d/projectile-bookmarks.eld
.emacs.d/transient/history.el
/.emacs.d/eshell/
/.emacs.d/history
/.emacs.d/recentf
/.emacs.d/places
elpa/
.last-package-update-day
